---
# tasks file to deploy frontend
- name: download frontend
  get_url: url={{ frontend_url }} dest=/tmp/dgds-ui.zip
  become: yes
  when: not vagrant

- name: unzip frontend
  unarchive:  src=/tmp/dgds-ui.zip
              dest=/tmp/
              owner={{ app_user }}
              owner={{ app_user }}
              mode=0755
              copy=no
  become: yes
  when: not vagrant

- name: copy frontend to static app_folder
  become: yes
  copy:
    remote_src: True
    src: /tmp/dist/
    dest: "{{ app_folder }}/static"
    owner: "{{ app_user }}"
    owner: "{{ app_user }}"
    mode: 0755

- name: delete frontend zip
  file: path=/tmp/dgds/ state=absent
  become: yes

- name: delete frontend from tmp
  file: path=/tmp/dist state=absent
  become: yes