---
# tasks file to deploy frontend

- name: add frontend app user
  become: yes
  user:
    name: "{{ app_user }}"
    state: present
    shell: /bin/bash

- name: download frontend
  get_url:
    url: "{{ frontend_url }}"
    dest: /tmp/dgds-ui.zip
    force: no
  become: yes
  when: not vagrant

- name: unzip frontend
  unarchive:
    src: /tmp/dgds-ui.zip
    dest: /tmp/
    owner: "{{ app_user }}"
    mode: 0755
    copy: no
  become: yes
  when: not vagrant

- name: copy frontend to static app_folder
  become: yes
  copy:
    remote_src: True
    src: /tmp/dist/
    dest: "{{ app_folder }}/static"
    owner: "{{ app_user }}"
    mode: 0755
    force: yes
  notify: restart nginx

- name: delete frontend zip from tmp
  file: path=/tmp/dgds-ui.zip state=absent
  become: yes

- name: delete frontend from tmp
  file: path=/tmp/dist state=absent
  become: yes

