---
# Here will the main wsgi application be
# located, included the processes
- name: add app folder
  become: yes
  file: path={{ app_folder }}
        state=directory
        mode=0755
        owner="{{ app_user }}"
        group="{{ app_user }}"
  when: not vagrant

- name: copy app app_folder
  become: yes
  become_user: "{{ app_user }}"
  copy:
    src: "{{ role_path }}/../../../dgds_backend"
    dest: "{{ app_folder }}/dgds_backend"
    force: yes
  when: not vagrant

- name: copy config data
  become: yes
  become_user: "{{ app_user }}"
  copy:
    src: "{{ role_path }}/../../../config_data"
    dest: "{{ app_folder }}/config_data"
    force: yes
  when: not vagrant

- name: copy dummy data
  become: yes
  become_user: "{{ app_user }}"
  copy:
    src: "{{ role_path }}/../../../dummy_data"
    dest: "{{ app_folder }}/dummy_data"
    force: yes
  when: not vagrant

# - name: install app
#   become: yes
#   become_user: "{{ app_user }}"
#   pip:
#     name: "{{ app_folder }}/{{ app }}.tar.gz"
#     virtualenv: "{{ app_virtualenv }}"
#   when: not vagrant

- name: copy configuration
  become: yes
  become_user: "{{ app_user }}"
  copy:
    src: ../templates/settings.cfg.j2
    dest: "{{ app_folder }}/settings.cfg"
    force: yes
  when: not vagrant

- name: set environment variable for app configuration
  become: yes
  shell: echo 'export DGDS_BACKEND_SETTINGS="{{ app_folder }}/settings.cfg"' >> $HOME/.bashrc
  when: not vagrant



# - name: Ensure hostname in app configuration
#   become: yes
#   ini_file:
#     path: "{{ app_folder }}/config.ini"
#     section: server
#     option: hostname
#     value: "{{ server_name }}"

# - name: install requirements
#   become: yes
#   become_user: "{{ app_user }}"
#   pip:
#     extra_args: --upgrade
#     virtualenv_python: python3.4
#     virtualenv: "{{ app_virtualenv }}"
#     requirements: "{{ app_folder }}/pip-requirements.txt"
#   notify:
#     - restart nginx
#     - restart uwsgi

