# dgds.conf

# the upstream component nginx needs to connect to
upstream dgds {
    server unix://{{ socket }};
}

# proxy for small responses
proxy_cache_path /tmp/cache keys_zone=cache:10m levels=1:2 inactive=600s max_size=100m;

# configuration of the server
server {
    # the port your site will be served on
    listen 80;
    # the domain name it will serve for
    server_name {{ server_name }}; # substitute your machine's IP address or FQDN
    charset     utf-8;

    # Performance
    sendfile on;
    gzip on;
    gzip_types      text/plain application/xml;
    gzip_proxied    no-cache no-store private expired auth;
    gzip_min_length 1000;
    proxy_cache cache;
    proxy_cache_valid 200 1s;

    # max upload size
    client_max_body_size 1M;

    location /api {
      include uwsgi_params;
      uwsgi_pass dgds;
    }

    location / {
        root  {{ app_folder }}/static/dist;
        index  200.html;
    }
}
