[uwsgi]

# dgds related settings
chdir           = {{ app_virtualenv }}/lib/python3.4/site-packages/dgds_backend
home            = {{ app_virtualenv }}
daemonize       = /var/log/uwsgi/dgds.log
callable        = app
mount           = /api=wsgi.py
manage-script-name = true

# UWSGI related settings
processes       = 4
socket          = {{ socket }}
chmod-socket    = 664
vacuum          = true
enable-threads  = true
uid             = {{ app_user }}
gid             = nginx
max-requests    = 100

# Stats
stats           = :1717
stats-http      = true
