[uwsgi]

# PyWPS related settings
chdir           = {{ app_virtualenv }}/lib/python3.4/site-packages/dgds_backend
wsgi-file       = wsgi.py
home            = {{ app_virtualenv }}

# UWSGI related settings
processes       = 4
socket          = {{ socket }}
chmod-socket    = 664
vacuum          = true
enable-threads  = true
uid             = {{ app_user }}
gid             = nginx
max-requests    = 100

# Stats
stats           = :1717
stats-http      = true
